

.ant-table-tbody > tr > td:nth-child(1) {
    width: 80px;
}

.ant-table-tbody > tr > td:nth-child(2) {
    width: 180px;
}

.ant-table-tbody > tr > td:nth-child(3) {
    width: 400px;
}

tr td img{
    width: 80px;
    margin: 0;
}