
.logo{
    width: 335px;
    height: 64px;  
}
.logo>img{
    height: 60px;
    width: 310px;
    margin: 0;
}
.header{
    display: flex;
    justify-content: space-between;
}
.userInfo{
    width: 120px;
}
.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title{
    height: 100%;
    line-height: 64px;
    margin: 0;
}
.tuichu{
    padding:0 !important;
    text-align: center ;
    background: #ccc;
}
.ant-menu-dark.ant-menu-horizontal{
    flex-grow: 3;
}